

.section{
	padding: 150px 0;
}

.header-section{
	position: relative;
	padding: 250px 0;

	&__floating-img{
		position: absolute;
		right: 20%;
		top: 50%;
		transform: translateY(-50%);
	}
}

.why-section{
	
}

.subscribe-section{
	
}

.news-section{
	background-size: cover;
	padding: 250px 0;
}

.preview-testimonial-section{

}